<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    {{#if formsCSS}}
        <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
    {{#if productCSS}}
        <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    <title>{{pageTitle}}</title>
</head>
<body>
    <Header class="main-header">
        <nav class="main-nav">
            <ul class="item-list">
                <li class="item"><a class="{{#if activeShop}}active{{/if}}" href="/">shop</a></li>
                <li class="item"><a class="{{#if activeAddProduct}}active{{/if}}" href="/admin/add-product">add-product</a></li>
            </ul>
        </nav>
    </Header>
    <main>
        {{{body}}}
    </main>
</body>
</html>