<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    <Header class="main-header">
        <nav class="main-nav">
            <ul class="item-list">
                <li class="item"><a href="/">shop</a></li>
                <li class="item"><a href="/admin/add-product">add-product</a></li>
            </ul>
        </nav>
    </Header>
    <main>
        <h1>Page Not Found</h1>
    </main>
</body>
</html>