extends layouts/main-layout.pug
block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")
block content
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card-header
                            h1.product-title #{product.title}
                        div.card-image
                            img(src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png", alt="a book")
                        div.card-content
                            h2.product-price 19.99$
                            p.product-discription a very interesting book about so many even more
                        div.card-actions
                            button.btn add to card 
        else
            h1 No Products




