<main>
    {{#if hasProducts}}
        <div class="grid">
            {{#each prods}}
                <article class="card product-item">
                    <header class="card-header">
                        <h1 class="product-title">
                            {{this.title}}
                        </h1>
                    </header>
                    <div class="card-image">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="a book">
                    </div>
                    <div class="card-content">
                        <h2 class="product-price">$19.99</h2>
                        <p class="product-description">a very interesting book about so many even more</p>
                    </div>
                    <div class="card-actions">
                        <button class="btn">Add to Card</button>
                    </div>
                </article>
            {{/each}}
        </div>
    {{else}}
        <h1>No Product found</h1>    
    {{/if}}
</main>
